/* CSS for website */
element {
    dark_blue: #101F74;
    orange_peel: #FF9F00;
    grey: #737581;
    car_green: #07D7A7;
    disco_blue: #0ABFFC;
}

localized-footer {
    color: grey;
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    color: dark_blue;
}

a:link {
    color: disco_blue;
}

a.custom-link {
    color: car_green;
}

a.list-group-item, button.list-group-item {
    color: car_green;
}

a:visited {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: underline;
    color: disco_blue;
}

p {
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: grey;
}

li.header {
    color: dark_blue;
}

li.chapter.expanded {
    color: dark_blue;
}

body {
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.faq-page {
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

book-search-results .search-results .has-results .search-results-item .book-summary ul.summary li.active>a {
    color: disco_blue;
}

h1 h2 h3 h4 h5 h6 {
    color: dark_blue;
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
}

tr td li blockquote {
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";	
}

img[alt$="-fullwidth"]{
    width:  100%;
    display: block;
}
