/* CSS for website */

localized-footer {
    color: #737581;
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a:link {
    color: #07D7A7;
}

a.custom-link {
    color: #101F74;
}

a {
    color: #101F74;
}

p {
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #737581;
}

li.header {
    color: #101F74;
}

li.chapter.expanded {
    color: #101F74;
}

a.list-group-item, button.list-group-item {
    color: #28a0b0;
}

a:visited {
    text-decoration: none;
    color: #737581;
}

a:hover {
    text-decoration: underline;
    color: #07D7A7;
}

body {
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.faq-page {
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

book-search-results .search-results .has-results .search-results-item{
    color: #07D7A7;
}

.book-summary ul.summary li.active>a {
    color: #07D7A7;   
}

h1 h2 h3 h4 h5 h6 {
    color: #101F74;
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
}

tr td li blockquote {
    font-family:'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";	
}

img[alt$="-fullwidth"]{
    width:  100%;
    display: block;
}
